/*.kiri {
    background: blue;
}
.kanan {
    background: yellow;
}
.navbar {
    background: black;
    color: white;
}*/
.banner {
    text-align: center;
}
.card {
    margin: 0 10px;
}

.form {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
}

.jarak {
    margin-top: 30px;
}

.about {
    text-align: center;
}

footer {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}